@import '../../variables';

.list-item {
  height: 96px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5em;
  border-bottom: 1px solid $dark-gray;

  @media screen and (min-width: 650px) {
    height: 150px;
    padding: 0 1em;
  }

  img {
    height: 75px;
    width: 75px;
    object-fit: cover;
    border-radius: 50%;

    @media screen and (min-width: 650px) {
      height: 125px;
      width: 125px;
    }
  }

  h3,
  h4 {
    margin: 10px 0;
  }

  h3 {
    @media screen and (min-width: 480px) {
      font-size: 24px;
    }

    @media screen and (min-width: 650px) {
      font-size: 28px;
    }
  }

  h4 {
    font-weight: 300;
    font-style: italic;

    @media screen and (min-width: 650px) {
      font-size: 20px;
    }
  }

  button {
    width: 60px;
  }

  .list-item-names {
    width: 55%;
  }
}