@import '../../variables';

.sighting-card {
  background-color: $cream;
  width: 90%;
  min-width: 300px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 2em;
  box-sizing: border-box;
  padding: 25px;

  @media screen and (min-width: 900px) {
    width: 100%;
  }

  @media screen and (min-width: 1200px) {
    width: 360px;
    margin: auto;
    height: 96%;
    margin-bottom: 4%;
    margin-top: 0;
  }

  h3 {
    font-size: 22px;
  }

  h4, p {
    margin: 10px 0;
  }

  h4 {
    margin-right: 0.2em;
  }

  img {
    width: 100%;
    height: 78vw;
    object-fit: cover;

    @media screen and (min-width: 900px) {
      height: 49vw;
    }

    @media screen and (min-width: 1200px) {
      height: 22vw;
    }
  }

  button {
    margin-top: 1em;
  }

  .date-line,
  .location-line {
    display: flex;
  }
}

.pseudo-heading {
  font-weight: bold;
}