@import '../../variables';

nav {
  display: flex;
  justify-content: space-evenly;
  width: 300px;

  .nav-link {
    font-size: 18px;
    margin-top: 0.5em;
    color: $dark-gray;
    text-decoration: none;
    box-sizing: border-box;
    padding: 0.2em 0;

    &.selected {
      border-bottom: 1.5px solid $dark-gray;
    }
  }
}